body {
	width: 360px;
	background-color: #2d333b;
	/* border: 1px solid #444c56; */
	border-radius: 6px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji";
	color: rgb(173, 186, 199);
}
.hidden {
	display: none;
}

label {
	font-size: 14px;
	font-weight: 600;
}
.note {
	color: rgb(118, 131, 144);
	font-size: 12px;
	font-weight: 400;
	margin-top: 8px;
	margin-left: 25px;
}

#predictions-count {
	width: 3rem;
}
